body {
  background: var(--color-light-blue);
	margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: var(--color-dark-grey);
}

.app__header {
	padding: 20px 40px;
  background: linear-gradient(-90deg, #f68d28, #f56a00);
}

.app__header img {
  display: block;
	width: 200px;
	height: 50px;
	margin: auto;
}

.search__hero {
  margin-top: 20px;
  padding: 20px;
  background: var(--color-white);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .08);
}

.search__form {
  display: flex;
  flex-direction: column;
  height: 160px;
  margin-top: 20px;
  padding: 2px;
  background: var(--color-orange);
}

.search__category-select {
  height: 25%;
  border-radius: 6px;
}

.search__submit {
  height: 25%;
  border-style: none;
  background: var(--color-blue);
  font-weight: bold;
  color: var(--color-white);
  border-radius: 6px;
  transition: background .5s ease;
}

.search__submit:hover {
  background: var(--color-hover-blue);
}

.search__submit:disabled {
  background: var(--color-grey);
}

.search__results {
  margin-top: 20px;
  padding: 10px;
  background: var(--color-white);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .08);
}

.search__results-table {
  width: 100%;
  border-spacing: 0;
}

.search__results-table tr:nth-child(even) {
  background: var(--color-light-grey);
}

.search__results-table th {
  height: 40px;
  color: var(--color-dark-blue);
}

.search__results-table td {
  vertical-align: middle;
  height: 20px;
  padding: 10px;
  text-align: center;
}

.search__hero h1 {
  color: var(--color-dark-blue);
}

.search__hero p {
  height: 160px;
}

.search__results p {
  height: 140px;
}

@media (min-width: 640px) {
	.app__header img {
    width: 400px;
    height: 100px;
		margin: 0;
	}

	.search {
    width: 80%;
		margin: auto;
	}

  .search__hero {
    margin-top: 40px;
  }

  .search__form {
    flex-direction: row;
    height: 40px;
    margin-top: 40px;
    border-radius: 6px;
  }

  .search__category-select {
    width: 25%;
    height: 100%;
  }

  .search__submit {
    width: 25%;
    height: 100%;
  }

  .search__results {
    margin: 0 10px;
    padding: 20px;
  }

  .search__results-table th {
    width: 33%;
  }

  .search__results-table td {
    width: 33%;
    padding: 20px;
  }

  .search__hero p, .search__results p {
    height: 80px;
  }
}


@media (min-width: 1024px) {
	.search {
    max-width: 960px;
  }
}