:root {
  --color-white: #FFF;
  --color-orange: #F68D28;
  --color-grey: #999;
  --color-light-grey: #ECECEC;
  --color-dark-grey: #333;
  --color-blue: #0070A4;
  --color-light-blue: #F3F8FB;
  --color-dark-blue: #14377D;
  --color-hover-blue: #09ACFB;
}